.home {
  padding: 0 2em 2em 2em;
  /* height: 100%; */

}
.inpage-nav {
  padding: 1em;
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--tertiary-color2);
  gap: 1em;
}

.inpage-nav a {
  display: block;
  padding: 1em 0em;
  text-decoration: none;
  color: var(--tertiary-color);
}
.inpage-nav a.active {
  border-bottom: 0.25em solid var(--tertiary-color);
  color: var(--secondary-color);
  font-size: larger;
}
