.error-boundary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}